!!!
%html
  %head
    %title InsanityChess
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "https://cdn.firebase.com/js/client/1.0.17/firebase.js"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = yield
